# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
error.log
combined.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Bot specific
profit_history.json

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 


requirements.txt